
.thumbnail{
    top:-3mm;
    border-radius:5%;
    height: 20mm;
    width: 20mm;
    box-shadow: 1px 2px 5px 1px #A9A9A8;
}

.icon{
    font-size: 35px;
    color: #fff;
    transform: translate(6.5mm,5mm);
}

.number-info{
    float: right;
    font-size:18px;
    font-weight:bold;
}

.card-tag{
    font-size:15px;
    font-weight:bold;
}

.box-shadow{
    box-shadow: 0px 5px 12px -3px black;
}

.o_optional_columns_dropdown{
    overflow: scroll !important;
    max-height: 70vh !important;
}

.card{
    border-radius: 15px;
}

.filter-controls{
    display: inline-flex;
    gap: 5px;
    max-width: fit-content;
    margin: 15px 0px 15px 7rem;
}

#apply_filter{
    border-radius: 12px;
    background-color: #71639e;
    padding: 5px;
    border: 2px solid #71639e;
    color: #fff;
    font-weight: bold;
}

#custom_range_controls{
    max-width: fit-content;
}

option{
    font-size: 15px;
    margin: 5px;
}
#paid_members_chart{
    height: 450px !important;
    width: 1150px !important;
    margin: 0 auto;
}